* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.active {
  color: chartreuse;
}

.nav {
  background-color:#fefefa
}

.slick-slide>div{
  margin:0 10px
}

@tailwind base;
@tailwind components;
@tailwind utilities;